In [2]:
import os
import numpy as np
import pandas as pd

In [3]:
app_test=pd.read_csv("application_test.csv")
app_train=pd.read_csv("application_train.csv")

In [4]:
#檢視資料中類別型欄位各自類別的數量
app_train.dtypes.value_counts()

float64    65
int64      41
object     16
dtype: int64

In [5]:
#查看object種類的欄位 例子:NAME_CONTRACT_TYPE 只有分Cash loans和Revolving loans
#所以NAME_CONTRACT_TYPE為2
app_train.select_dtypes(include=["object"]).apply(pd.Series.nunique,axis=0)

NAME_CONTRACT_TYPE             2
CODE_GENDER                    3
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               8
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             6
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

In [6]:
#針對類別數量小於2的欄位類型使用Label Encoding
#原始資料是有序離散值的話 => Label Encoding
#原始資料是無序離散值的話 => One Hot Encoding (Dummies)
from sklearn.preprocessing import LabelEncoder

In [7]:
#Create a label encoder object
le = LabelEncoder()
le_count=0

#Iterate through the columns
for col in app_train:
    if app_train[col].dtype=='object':
    #If 2 or fewer unique categories
        if len(list(app_train[col].unique()))<=2:
            #Train on the training data
            le.fit(app_train[col])
            #Transform both training and testing data
            app_train[col] = le.transform(app_train[col])
            app_test[col] = le.transform(app_test[col])
        
            #Keep track of how many colums were label encoded
            le_count += 1

print('%d columns were label encoded.' % le_count)

3 columns were label encoded.

In [9]:
#One Hot encoding
app_train=pd.get_dummies(app_train)
app_test=pd.get_dummies(app_test)

print(app_train['CODE_GENDER_F'].head())
print(app_train['CODE_GENDER_M'].head())
print(app_train['NAME_EDUCATION_TYPE_Academic degree'].head())

0    0
1    1
2    0
3    1
4    0
Name: CODE_GENDER_F, dtype: uint8
0    1
1    0
2    1
3    0
4    1
Name: CODE_GENDER_M, dtype: uint8
0    0
1    0
2    0
3    0
4    0
Name: NAME_EDUCATION_TYPE_Academic degree, dtype: uint8

In [11]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes
0,100002,1,0,0,1,0,202500.0,406597.5,24700.5,351000.0,...,0,0,0,0,0,0,1,0,1,0
1,100003,0,0,0,0,0,270000.0,1293502.5,35698.5,1129500.0,...,0,1,0,0,0,0,0,0,1,0
2,100004,0,1,1,1,0,67500.0,135000.0,6750.0,135000.0,...,0,0,0,0,0,0,0,0,0,0
3,100006,0,0,0,1,0,135000.0,312682.5,29686.5,297000.0,...,0,0,0,0,0,0,0,0,0,0
4,100007,0,0,0,1,0,121500.0,513000.0,21865.5,513000.0,...,0,0,0,0,0,0,0,0,0,0