In [11]:
import os
import numpy as np
import pandas as pd

In [12]:
app_train=pd.read_csv("application_train.csv")

In [22]:
sub_train=pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
sub2_train=pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()
sub2_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [14]:
sub_train.select_dtypes(include=["object"]).apply(pd.Series.nunique,axis=0)

WEEKDAY_APPR_PROCESS_START    7
dtype: int64

In [15]:
#One Hot encoding
sub_train=pd.get_dummies(sub_train)
print(sub_train.shape)
sub_train.head()

(307511, 7)

,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0
2,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0

In [25]:
#label encoder 
#from sklearn.preprocessing import LabelEncoder
#le=LabelEncoder()
#le.fit(sub2_train)
#sub2_train=le.transform(sub2_train)

#sub2_train[:5]